header{
    height:100vh;
     background-image: url("/../assets/img/travail2.jpg");
    //  background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     text-align: center;
     color: orange;
}