<header>
    <h1>Bienvenu Camarade</h1>
</header>
<main>

<div class="container">
    <div class="row">
        <form class="col-md-4 mx-auto mt-5" [formGroup]="creationForm" (submit)='createInfoNew()'>
            <div class="form-group">
                <label for="nom">nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom" [(ngModel)]="user.nom" required formControlName="nom">
            </div>
            <div class="form-group">
                <label for="prenom">prenom</label>
                <input type="text" class="form-control" id="prenom" placeholder="PreNom" [(ngModel)]="user.prenom" required formControlName="prenom">
            </div>
            <div class="form-group">
                <label for="prenom">Date</label>
                <input type="text" class="form-control" id="prenom" placeholder="Date" [(ngModel)]="user.date" required formControlName="date">
            </div>
            <div class="form-group">
                <label for="prenom">Note</label>
                <input type="text" class="form-control" id="prenom" placeholder="Note" [(ngModel)]="user.note" required formControlName="note">
            </div>
            <div class="form-group">
                <label for="prenom">Abscence</label>
                <input type="text" class="form-control" id="abscence" placeholder="abscence" [(ngModel)]="user.abscence" required formControlName="abscence">
            </div><div class="form-group">
                <label for="prenom">Votre commentaire</label>
                <input type="text" class="form-control" id="prenom" placeholder="votre comment" [(ngModel)]="user.comment" required formControlName="comment">
            </div>
        
            <button class='butt' type="submit" class="btn btn-primary" routerLink="/espacecomere">Envoyer</button>
        </form>

<div class="col-md-8 mx-auto mt-4">
<h2>Voici des candidats au Goulag:</h2>
<!-- victimeGetList в victime компонентах комер эспас персонел компонант -->
<!-- 
 <div *ngFor="let victime of victimeGetList$ | async">  
    {{victime.nom}} - {{victime.prenom}} - {{victime.date}} -- {{victime.note}} -- {{victime.absence}} -- {{victime.comment}}
</div>  -->

<table >
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Date</th>
            <th scope="col">Note</th>
            <th scope="col">Abscence</th>
            <th scope="col">Commentaire</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table" *ngFor="let victime of victimeGetList$ | async">
            <td>{{victime.nom}}</td>
            <td>{{victime.prenom}}</td>
            <td>{{victime.date}}</td>
            <td>{{victime.note}}</td>
            <td>{{victime.abscence}}</td>
            <td>{{victime.comment}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>




</main>

<footer>
    <h3>  FSB de la Russie vous remercie pour votre coopération ...</h3>
</footer>