header{
    background-color:rgb(94, 6, 6);
    height: 15vh;
    color: white;
    align-items: center;
        display: flex;
    justify-content: center;
}

footer{
    height: 10vh;
    background-color:rgb(94, 6, 6);
    color: white;
   
    align-items: center;
    display: flex;
    justify-content: center;
}
main{
     padding-top: 20px;
   padding-bottom: 20px;
}
form{
    padding: 10px;

}
table{
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:  #CFD8DC;
}
th{
    text-align: center;
    background-color: #7a8990;
    padding-top: 10px;
    padding-bottom: 10px;
}