

<header>
    <!-- <h1>Bienvenu sur le portail d'information de Vladimir Poutin</h1> -->
    
    <h1 id="blink6">Bienvenu sur le portail KGB</h1>
</header>
<main>
        <h2> Quel est votre rôle ?</h2>
      <article>
        <button class="but" mat-button routerLink="/newcomere">Commère</button>
        <button class="but" mat-button routerLink="/newvictime">Victime</button>
    </article>

</main>
<footer>
    <h3> Camarade! FSB de la Russie vous remercie pour votre coopération ...</h3>
</footer>