header{
    background-color:rgb(94, 6, 6);
    height: 15vh;
    color: white;
    align-items: center;
        display: flex;
    justify-content: center;
}
h1,h2{
    text-align: center,
}
main{
   margin: 0;
   height: 75vh;
   background-image: linear-gradient(
        to right bottom
        ,rgba(51, 52, 56,1)
        ,rgba(156, 65, 65, 0.2),
        rgba(156, 65, 65, 0.2),
        rgba(51, 52, 56, 1)),
        url("/../assets/img/put.jpg");
      background-size: cover;
    background-position: top;
    position: relative;
    color: #f7d794;
    font-size: 50px;
    font-weight:bolder;

}
footer{
    height: 10vh;
    background-color:rgb(94, 6, 6);
    color: white;
   
    align-items: center;
    display: flex;
    justify-content: center;
}
article{
    text-align: center;
}
.but{
background-color:rgb(94, 6, 6);
margin-left: 3px;
margin-right: 3px;
font-size: 20px;
}

//animation

@-webkit-keyframes blink6 {
 10% { transform: scale(1, 1) rotate(80deg); }
 20% { transform: scale(0, 0) rotate(160deg); }
 100% { transform: scale(0, 0) rotate(0deg); }
}
@keyframes blink6 {
 10% { transform: scale(1, 1) rotate(80deg); }
 20% { transform: scale(0, 0) rotate(160deg); }
 100% { transform: scale(0, 0) rotate(0deg); }
}
#blink6 {
  position: relative;
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 10px #3d7a97;
  background: #rgb(94, 6, 6);
}
#blink6:after, #blink6:before {
  content: "";
  position: absolute; top: 0; left: 0;
  display: block;
  width: 100px;
  height: 100px;
  background-image: 
    radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%),
    linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%),
    linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);
  -webkit-animation: blink6 10s linear infinite;
  animation: blink6 10s linear infinite;
  transform: scale(0, 0) rotate(0deg);
}
#blink6:before {
  top: -30%;
  right: 0; left: auto;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}