header{
    background-color:black;
    height: 15vh;
    color: #A60000;
    align-items: center;
        display: flex;
    justify-content: center;
}

main{
   margin: 0;
   height: auto;
   padding-top: 20px;
   padding-bottom: 20px;
}
footer{
    height: auto;
    width: 100vw;
    background-color: black;
    color: #A60000;
    text-align: center;
    position: absolute;
    bottom: 0;
}
p{
    margin-bottom: 0px;
}

.frm1{
    padding: 10px;
    background-color: #CFD8DC;
}
.frm2{
    background-color: black;
    margin-left: 20px;
}
.butt{
    background-color: #A60000;
}
.connexion{
    margin-left: 5px;
    margin-right: 5px;
}

