<header>
    <!-- <h1>Bienvenu sur le portail d'information de Vladimir Poutin</h1> -->
    <h1> Ax -aX - Xa >:)</h1>

        <mat-card class="frm2">
            <form [formGroup]="creationForm" (submit)='createComereNew()'>
                <div class="form-container">
        
                    <mat-form-field class="connexion">
                        <input matInput type="text" placeholder="Votre Nom" required formControlName="nom" />
                    </mat-form-field>
                    <mat-form-field class="connexion">
                        <input matInput type="password" placeholder="Votre password" formControlName="pass" />
                    </mat-form-field>
        
                    <button mat-button class="butt" type="submit" routerLink="/espacevictime">Se connecter</button>
                </div>
            </form>
        </mat-card>
</header>

<main>
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto mt-5 ">
            <h2> возможно пора сушить сухари</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nemo, enim ipsa, officia earum cumque labore
                pariatur, doloremque illum aspernatur ab molestiae quasi? Architecto quod, doloremque minima qui nostrum
                tenetur.</p>
        
        </div>
        <form class="col-md-8 mx-auto mt-5 frm1" [formGroup]="creationForm" (submit)='createVictimeNew()'>
            <div class="form-group">
                <label for="nom">nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom" required
                formControlName="nom">
            </div>
            <div class="form-group">
                <label for="prenom">prenom</label>
                <input type="text" class="form-control" id="prenom" placeholder="PreNom" required
                formControlName="prenom">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" required formControlName="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else, only
                    V.Poutin</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">pass</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    formControlName="pass">
                </div>
                
                <button class='butt' type="submit" class="btn btn-primary" >S'inscrire</button>
            </form>
        </div>
    </div>
         
            <!-- <mat-card>
                <form [formGroup]="creationForm" (submit)='createVictimeNew()'>
                    <div class="form-container">

            <mat-form-field>
                <input matInput type="text" placeholder="Votre Nom" required formControlName="nom" />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Votre PreNom" required formControlName="prenom" />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Votre adress email" formControlName="email" />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Votre password" formControlName="pass" />
            </mat-form-field>

            <button mat-button class="butt" type="submit" routerLink="">S'inscrire</button>
        </div>
    </form>
</mat-card> -->
</main>
<footer>
    <h3> Go to Siberia...</h3>
        <p>Contactez nous <a href="#">poutinlikeyou@kgb.ru</a></p>
</footer>